<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">

    <display-name>Sample Kickstart App</display-name>

    <servlet>
        <servlet-name>APIEndpointDispatcherServlet</servlet-name>
        <servlet-class>com.cr.kickstart.framework.APIEndpointDispatcherServlet</servlet-class>
        <init-param>
            <param-name>BaseUri</param-name>
            <param-value>/api</param-value>
        </init-param>
        <init-param>
            <param-name>WebServices.Packages</param-name>
            <param-value>com.cr.sample.api</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>APIEndpointDispatcherServlet</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>CharsetFilter</filter-name>
        <filter-class>com.cr.kickstart.framework.CharsetFilter</filter-class>
        <init-param>
            <param-name>requestEncoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CharsetFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
       <filter-name>UrlRewriteFilter</filter-name>
       <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
    </filter>
    <filter-mapping>
       <filter-name>UrlRewriteFilter</filter-name>
       <url-pattern>/*</url-pattern>
    </filter-mapping>

    <listener>
        <listener-class>com.cr.kickstart.framework.PersistenceServletContextListener</listener-class>
    </listener>

    <listener>
        <listener-class>com.cr.kickstart.framework.ConfigurationContextListener</listener-class>
    </listener>

    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Stripes configuration
        -->

    <filter>
        <display-name>Stripes Filter</display-name>
        <filter-name>StripesFilter</filter-name>
        <filter-class>net.sourceforge.stripes.controller.StripesFilter</filter-class>
        <init-param>
            <param-name>ActionResolver.Packages</param-name>
            <param-value>com.cr.sample.web</param-value>
        </init-param>
        <init-param>
            <param-name>ActionBeanContext.Class</param-name>
            <param-value>com.cr.kickstart.stripes.ActionBeanContextBase</param-value>
        </init-param>
        <!--
                    <init-param>
                        <param-name>Extension.Packages</param-name>
                        <param-value>com.whatsgd.server.web.extensions</param-value>
                    </init-param>
                    <init-param>
                        <param-name>ExceptionHandler.Class</param-name>
                        <param-value>com.whatsgd.server.web.core.SiteExceptionHandler</param-value>
                    </init-param>
        -->
    </filter>
    <filter-mapping>
        <filter-name>StripesFilter</filter-name>
        <servlet-name>StripesDispatcher</servlet-name>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <servlet>
        <servlet-name>StripesDispatcher</servlet-name>
        <servlet-class>net.sourceforge.stripes.controller.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>StripesDispatcher</servlet-name>
        <url-pattern>/dispatcher</url-pattern>
    </servlet-mapping>

    <filter>
        <display-name>Stripes Dynamic Mapping Filter</display-name>
        <filter-name>DynamicMappingFilter</filter-name>
        <filter-class>net.sourceforge.stripes.controller.DynamicMappingFilter</filter-class>
        <init-param>
            <param-name>ActionResolver.Packages</param-name>
            <param-value>com.cr.sample.web</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>DynamicMappingFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>


</web-app>
